* {
margin: 0;
padding: 0;
}

body{
font-family: 'Inter', sans-serif;
color: #FFFFFF;
background-color: #23252C;
font-weight: 400;
}

.container {
 max-width: 400px;
 margin: 40px auto;
 background-color: #1A1B21;
 border-radius: 15px;

}

/*----------------HEADER-------------------*/
header {
  text-align: center;
  border-radius: 15px 15px 0 0;
}

.hero-photo {
width: 100%;
border-radius: 15px 15px 0 0;
margin-bottom: 20px;
}

header > h1 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 8px;
}

header > h4 {
  font-size: 12px;
  margin-bottom: 15px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.contact-buttons > button {
  width: 115px;
  font-size: inherit;
  padding: 9px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.button-icon {
  margin-right: 7px;
}

/*----------------ABOUT-------------------*/

.main-about {
margin: 35px;
}
.main-header {
  font-weight: 700;
  margin-bottom: 5px; 
}

/*----------------Interests-------------------*/

.main-interests {
margin: 35px;
}

/*----------------Footer-------------------*/
.footer-links {
  background-color: #161619;
  padding: 20px;
  font-size: 28px;
  color: #918E9B;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  border-radius: 0 0 15px 15px;
}

.footer-links > i {
  cursor: pointer;
}
